@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #353e45;
    scroll-behavior: smooth;
    color: #FFF;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Session with Jess */
div {
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #353e45;
}
/* Style guide */

h1 {
    display:inline-block;
    font-weight: 700;
    margin:20px;
  
}

nav {
    font-weight: 500;
    background-color: #5d9754;
    vertical-align: middle;
    
   
}


h2,h3 {
    text-align: center;
    
}

/* p {
    border: 1px black solid;

} */



/* Header */
header {
    width: 100%;
    background-color: #5d9754;
    display:block;
    border-radius: 10px;
    position:sticky;
    top: 0;
        
}


nav a {
    display: inline-block;
    
    margin: 8px;
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
 
  
}
/* About Me Section */
img.profile-picture {
    width: 200px;
    border-radius: 10px;
}

form {
    display:flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    height: 200px;
    border: 1px white solid;
   
   
    

}
input {
    display: flex;
    flex-direction: row;
    height: 28px;
    padding: 10px;
    border: none;
    
}
div.about-me-container {
    padding-bottom: 100px;
    border: 1px white solid;
}

div.Projects {
    /* margin-top: 100px; */
    border: 1px solid white;
    padding-bottom: 100px;
}

div.form-container {
    height: 200px;
    width: 50%;
    padding-bottom: 100px;
    
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

input {
    background-color: #353e45;
    color: #FFF;
}
/* Portfolio Section */
div.portfolio-tiles a {
    text-decoration: none;
    color: #fff;
}



/* Hero Section */



/* Class Selector*/
.header {
    width: 100%;
}

.portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid blue; */
}

.portfolio-tiles {
    margin: 2px;
    padding: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 80px;
    display: flex;
    font-size: small;
    background-color: #547f4d;
    color: #FFF;
    border-radius: 10px;
   
    
}



/*Layout*/


/* Footer */
footer {
    background-color: #547f4d;  
    width: 100%;
    text-align: center;
    font-size: 10px;
    display:block;
   
}

footer a{
    color: white;
    text-decoration:none ;
}


































/* Media Queries */