@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--grey);
    color: #10634b;
    
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

:root {
    --grey:#dce2e6;
    --focus1: #10634b;
    --focus2: #ab5718;
    --focus3: #9d386c;
    --white: #fff;
    --dark-grey: #888888;
}
/* Formatting for multiple elements */
div {
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

div.heading {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
   
}

/* Header */
header {
    width: 100%;
    background-color: var(--focus1);
    border-radius: 10px;
    position:sticky;
    top: 0;     
}

h1 {
    display:inline-block;
    font-weight: 700;
    margin:20px;
    color: var(--white);
    /* color: var(--grey); */
    font-size: 2.5em;
}

nav {
    font-weight: 500;
    background-color:var(--focus1);
    vertical-align: middle;
   
}

nav a {
    display:inline;
    margin: 5px;
    text-decoration: none;
    color: var(--white);
    vertical-align: middle;
    flex-direction: row;
  
}

nav a:hover {
    background-color: var(--focus3);
    height: 24px;
    padding: 4px;
    display:inline;
    transition: 0.5s;
    text-decoration: underline;
}


/* Hide the link that should open and close the topnav on small screens */
nav.icon {
    display: none;
  }

/* About Me Section */
img.profile-picture {
    width: 200px;
    border-radius: 10px;
    border: #fff 2px solid;
}
div.profile-picture {
    display: flex;
    justify-content: center;
    align-content: center;
    height: 300px;
}

div.about-me-container {
    background-color: var(--grey);
    /* border: #fff 2px solid; */
    padding: 10px;
    border-radius: 10px;
    color: var(--focus1);
    
}

div.bio {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2, h3 {
    text-align: center;
    font-size: 2em ;
    margin: 0;
    
}

p {
    font-size: 1em;
}
/* Projects Section */

div.Projects {
    padding-bottom: 100px;
    /* background-color: var(--grey); */
    /* opacity: 90%; */
    color: #e7fffc;
    border-radius: 10px;
}

.projects-container {
    margin-top:20px;
    display: flex;
    flex-direction: column;
    border: var(--dark-grey) 1px solid;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
}


div.portfolio-tiles a {
    text-decoration: none;
    color: var(--white)
}

div.portfolio-tiles:hover {
    background: var(--focus3);
    text-decoration:underline;
    transition: 0.75;
   
}



/* form {
    display:flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    height: 200px;
    

} */

.labels {
    display: flex;
    flex-direction: column;
    border: #10634b 1px solid;
    padding: 20px;
    border-radius: 10px;
    color: var(--white);
}





div#Contact-Form.form-container {
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
    margin-top: 20px;
    border: var(--dark-grey) 2px solid;
    
}

label {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-self: flex-start;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 80%;
}

div.fields {
    justify-content: center;
}

input {
    background-color:var(--focus1);
    padding: 20px;
    padding: 10px;
    border: none;
    color:#000;
    border-radius: 5px;
}

input:focus {
    background-color: var(--focus3);
}

button {
    width: 50%;
    align-self: center;
    background-color: var(--dark-grey);
    border: none;
    border-radius: 2px;
    padding: 5px;

}
/* Portfolio Section */



/* Hero Section */



/* Class Selector*/
.header {
    width: 100%;

}

.portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    /* border: 1px solid blue; */
}

.portfolio-tiles {
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 80px;
    display: flex;
    font-size: small;
    background-color: var(--focus2);
    color: #FFF;
    border-radius: 100px;

   
    
}



/*Layout*/


/* Footer */
footer {
    background-color: var(--focus3);
    width: 100%;
    text-align: center;
    font-size: 10px;
    display:block;
    border-radius: 10px;
   
}

footer a{
    color: white;
    text-decoration:none ;
}



/* Media Queries */
@media (max-width:600px) {
    
div.portfolio-container {
    display: flex;

}

}
    /* @media(max-width:600px) {
        nav a {
            display:none;
        }
        div {
            background-color: red;
        }
    } */


    /* media query with the hamburger menu working */
@media screen and (max-width: 500px) {
    
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        display: right;
    
    }

    nav a {
        display: flex;
        flex-direction: row;
    }
    .nav.responsive {position: relative;}
    
    .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    
    .nav.responsive a {
    float:none;
    display: block;
    text-align: center;
    }

    h1 {
        font-size: 2em;
    }

    div#Contact-Form.form-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 100px;
        margin-top: 20px;
        border: var(--dark-grey) 2px solid;
        
    }
}


@media screen and (min-width:768px) {
    div {
        /* border: 1px solid blue; */
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
       
    
        
    }
    .nav a.icon {
        display: none;
        
    }
    div.nav {
        display: flex;
        justify-content:right;
        padding-right: 20px;
    }

    .nav a {
        font-size:1.25em;
    }
    .portfolio-tiles {
        width: 150px;
        height: 150px;
        
    }
    div.portfolio-tiles a {
        text-decoration: none;
        color: var(--white);
        font-size: 20px;
        
    }
}




      
