@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #353e45;
    scroll-behavior: smooth;
    color: #FFF;
    
}
*, *:before, *:after {
    box-sizing: inherit;
}

/* Session with Jess */
div {
    /* border: 1px solid red; */
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;

    
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: #353e45;
}
/* Style guide */

h1 {
    display:inline-block;
    font-weight: 700;
    margin:20px;
  
}

nav {
    font-weight: 500;
    background-color: #5d9754;
    vertical-align: middle;
    
   
}


h2,h3 {
    text-align: center;
    
}

/* p {
    border: 1px black solid;

} */



/* Header */
header {
    width: 100%;
    background-color: #5d9754;
    display:block;
    border-radius: 10px;
    position:sticky;
    top: 0;
        
}


nav a {
    display: inline-block;
    
    margin: 8px;
    text-decoration: none;
    color: #fff;
    vertical-align: middle;
    flex-direction: row;
    height:24px;
  
}

nav a:hover {
    background-color: var(--focus3);
    height: 24px;
    padding: 4px;
    display:inline;
    transition: 0.2s;
    text-decoration: underline;
}


/* Hide the link that should open and close the topnav on small screens */
nav.icon {
    display: none;
  }

/* About Me Section */
img.profile-picture {
    width: 200px;
    border-radius: 10px;
}

form {
    display:flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    height: 200px;
    border: 1px white solid;
   
   
    

}
input {
    display: flex;
    flex-direction: row;
    height: 28px;
    padding: 10px;
    border: none;
    
}
div.about-me-container {
    padding-bottom: 100px;
    border: 1px white solid;
}

div.Projects {
    /* margin-top: 100px; */
    border: 1px solid white;
    padding-bottom: 100px;
}

div.form-container {
    height: 200px;
    width: 50%;
    padding-bottom: 100px;
    
}

label {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

input {
    background-color: #353e45;
    color: #FFF;
}
/* Portfolio Section */
div.portfolio-tiles a {
    text-decoration: none;
    color: #fff;
}



/* Hero Section */



/* Class Selector*/
.header {
    width: 100%;
    padding-bottom: 5px;

}

.portfolio-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    /* border: 1px solid blue; */
}

.portfolio-tiles {
    margin: 2px;
    padding: 2px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80px;
    height: 80px;
    display: flex;
    font-size: small;
    background-color: #547f4d;
    color: #FFF;
    border-radius: 10px;
   
    
}



/*Layout*/


/* Footer */
footer {
    background-color: #547f4d;  
    width: 100%;
    text-align: center;
    font-size: 10px;
    display:block;
   
}

footer a{
    color: white;
    text-decoration:none ;
}



/* Media Queries */
@media (max-width:600px) {
    
div.portfolio-container {
    display: flex;

}

}
    /* @media(max-width:600px) {
        nav a {
            display:none;
        }
        div {
            background-color: red;
        }
    } */


    /* media query with the hamburger menu working */
@media screen and (max-width: 500px) {
    
    .nav a:not(:first-child) {display: none;}
    .nav a.icon {
        display: right;
    
    }

    nav a {
        display: flex;
        flex-direction: row;
    }
    .nav.responsive {position: relative;}
    
    .nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    
    .nav.responsive a {
    float:none;
    display: block;
    text-align: center;
    }

    h1 {
        font-size: 2em;
    }

    div#Contact-Form.form-container {
        width: 80%;
        display: flex;
        flex-direction: column;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 100px;
        margin-top: 20px;
        border: var(--dark-grey) 2px solid;
        
    }
}




@media screen and (min-width:501px) and (max-width: 768px) {
    div {
        /* border: 1px solid blue; */
        width: 90%;
        display: flex;
        flex-direction: row;
        align-items: center;
       
    
        
    }
    .nav a.icon {
        display: none;
        
    }
    div.nav {
        display: flex;
        justify-content:right;
        padding-right: 20px;
    }

    .nav a {
        font-size:1.25em;
    }
    .portfolio-tiles {
        width: 150px;
        height: 150px;
        
    }
    div.portfolio-tiles a {
        text-decoration: none;
        color: var(--white);
        font-size: 20px;
        
    }
}

@media screen and (min-width:768px) {
    .nav a.icon {
        display: none;
        
    }
    }.portfolio-tiles {
        width: 150px;
        height: 150px;
        
    }
    div.portfolio-tiles a {
        text-decoration: none;
        color: var(--white);
        font-size: 20px;
        
    }































/* Media Queries */