/*This resets the default styling from the browser and applies some default styles of our own*/
html{
    box-sizing: border-box;
    
}

*,*::before,*::after {
    box-sizing:inherit;
}

* {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ol,ul {
    list-style:none;
}
img {
    max-width:100%;
    height: auto;
}

@import url(https://fonts.googleapis.com/css?family=Work+Sans:300,600%27);

:root{
    --color1: #353e45;
    --color2: #fff;
    --color3: #7e9d79;
    --color4: #000;
}

body {
	margin: 0;
	background-color: var(--color3);
	font-family: 'Work Sans', sans-serif;
	font-weight: 300;
}



/* navigation styles start here */
header {
    background: var(--color3);
    text-align: left;
    width: 100%;
    margin-bottom: 100px;
  

}

nav{ 
    background-color: var(--color3);
    float:right;
   
}

nav a {
    margin: 0;
    padding: 0;
    list-style: none;
    color:#fff;
    text-decoration: none;
    font-size: 1.2em;
}



/* Custom Classes */


/* Header */




/* Hero Section */




/* Columns Section */

}




/* Footer */





/* Media Queries */

@media (min-width:600px) {
    width: 50%;
    heigth:50%;
}